@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');

:root{
    --w: white;
    --b: #0B0B0B;
    --g: gray;
}

.text-game{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pixelify Sans', cursive;
}

/* About Me */
.text{
    color: var(--w);
    font-size: 18px;
    background-color: rgb(15, 15, 15);
    transition: .4s ease;
}
.text:hover{
    cursor: pointer;
    transition: 0.4s ease;
    background-color: rgb(42, 40, 40);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.744);
}

/* My Skills */
.btn-skill {
    margin: 5px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.btn-skill:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #ffffffbe;
}
.btn-skill p {
    position: relative;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}
.btn-skill p span {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 7px;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.btn-skill:hover p {
    transform: translateY(-10px);
}
.btn-skill:hover p span {
    opacity: 1;
}