@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&display=swap');

body{
    background-color: black;
}

.content{
    color: white;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
    .cont-text{
        background: linear-gradient(to right, rgb(21, 20, 20), #f3f3f3);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding: 70px;
        margin-left: -70px;
    }
    .sub-text{
        margin-bottom: -20px;
    }
    .title{
        margin-bottom: -10px;
    }
    .perfil{
        width: 280px;
        height: 280px;
        border-radius: 50%;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.744);

    }
    .welcome{
        background: linear-gradient(to right, rgb(49, 48, 48), #f3f3f3);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: absolute;
        margin-top: 185px;
        margin-left: -400px;
    }
    .welcome a{
        text-decoration: none;
    }
.main{
    margin-top: -40px;
    margin-left: -50px;
    display: flex;
}
    .main .option{
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }
    .option li{
        list-style: none;
        font-size: 20px;
        position: relative;
        top: 0;
        animation: slide 20s steps(4) infinite;
    }
    .option span{
        background: linear-gradient(to right, rgb(46, 45, 45), #f3f3f3);
        -webkit-background-clip: text;
         color: transparent;  
    }
    @keyframes slide{
        100%{
            top: -360px;
        }
    }
    .option li span{
        position: relative; 
    }
    .option li span:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 120%;
        background: #000000;
        border-left: 2px solid rgb(112, 108, 108);
        left: 0;
        animation: typing 5s steps(23) infinite;   
    }
    @keyframes typing{
        40%, 60%{
            left: calc(100%);
        }
        100%{
            left: 0;
        }
    }

.about-me{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    color: white;
    width: 600px;
    margin: 80px auto 60px auto;
    padding: 20px 50px 20px 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.526);
    background-color: rgb(15, 15, 15);
}

.title-skills{
    color: white;
    text-align: start;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 55%;
    margin: auto auto 20px auto;
}
    .title-skills:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .content-skills{
        display: flex;
        flex-wrap: wrap;
        width: 750px;
        margin: auto;
        justify-content: space-between;
    }
    .btn-skill{
        width: 165px;
        background-color: rgb(15, 15, 15);
        display: flex;
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    .btn-skill:hover{
        opacity: .8;
        background-color: rgb(42, 40, 40);
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.744);
    }
    .btn-skill span {
        margin-top: 13px;
        cursor: pointer;
        transition: 0.4s;
       }
       
    .btn-skill span:after {
        content: 'Advanced';
        font-size: 12px;
        display: flex;
        opacity: 0;
        top: 0;
        transition: 0.7s;
    }
    .btn-skill:hover span {
        position: relative;
        margin-top: 0;
       }
       
    .btn-skill:hover span:after {
        opacity: 4;
    }
    .skill{
        font-family: 'Exo 2', sans-serif;
        font-size: 14px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .icon-skill{
        padding: 8px;
        margin-right: 8px;
        margin-left: 4px;
    }

@media screen and (max-width: 700px) {
    .content{
        margin-top: 50px;
        margin-left: -50px;
        color: white;
        font-family: 'Exo 2', sans-serif;
        display: flex;
    }
        .cont-text{
            margin-top: -70px;
            margin-left: 10px;
        }
        .title{
            font-size: 25px;
        }
        .perfil{
            width: 150px;
            height: 150px;
            margin-right: 20px;
        }

        .welcome{
            font-size: 15px;
            margin-top: 120px;
            margin-left: -115px;
        }
        .welcome a{
            text-decoration: none;
        }
        .animation::before{
            content: '> ';
        }

    .about-me{
        font-size: 13px;
        padding: 10px 20px 10px 20px;
        width: 320px;
        margin: 50px auto 50px auto;
    }
}