:root {
    --c1: #f6f6f6;
    --c2: #e7e7e7;
    --c3: #d1d1d1;
    --c4: #b0b0b0;
    --c5: #888888;
    --c6: #6d6d6d;
    --c7: #5d5d5d;
    --c8: #4f4f4f;
    --c9: #454545;
    --c10: #3d3d3d;
    --c11: #0f0f0f;
    --c12: #0B0B0B;
    --b: #00000034;
}

/* Nav */
.tab-content>div {
    display: none;

}

.tab-content.active {
    display: block;
}

.nav-pills {
    background-color: var(--c6);
}

.tab-link {
    padding: .5em;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50%;
    font-size: 1.3em;
    background-color: var(--c6);
    color: var(--c9);
}

.tab-link.active {
    color: var(--c12);
}

.tab-link:focus {
    color: var(--c12);
    transform: scale(105%);
}

/* Redes */
.tooltip-container {
    color: var(--c1);
    position: relative;
    background: var(--c12);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 18px;
    margin-inline-end: 1em;
}

.tooltip {
    background-color: var(--c1);
    border-radius: 10px;
    position: absolute;
    color: var(--c12);
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.tooltip::before {
    background-color: var(--c1);
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: 2.1em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.tooltip-container:hover .tooltip {
    top: 120%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* About Me */
.text {
    color: var(--c1);
    font-size: 18px;
    background-color: var(--c11);
    transition: .4s ease;
}

.text:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--c4);
}

/* My Skills */
.btn-skill {
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.btn-skill:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--c4);
}

.btn-skill p {
    position: relative;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

.btn-skill p span {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 7px;
    text-align: center;
    font-size: 0.8em;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.btn-skill:hover p {
    transform: translateY(-10px);
}

.btn-skill:hover p span {
    opacity: 1;
}

/* Cube */
.cube-container {
    width: 100px;
    height: 100px;
    perspective: 800px;
    margin: 40px auto;
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(214, 21, 21);
    font-size: 18px;
    text-align: center;
    line-height: 100px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(to right, #ff6b6b, #355c7d, #557d35, #cfcf16, #a51f1f) 1;
    box-shadow: 0 0 100px rgba(245, 8, 8, 0.8);
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateY(180deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.cube-container:hover .cube {
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

/* Songs */
.div-responsive {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.main {
    background-color: var(--c12);
    padding: .5em;
    border-radius: 15px;
    margin: 1em;
    color: var(--c1);
}

.loader1 {
    display: flex;
    height: 70px;
    padding-inline: .5em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: var(--c1);
}

.loader1:hover {
    cursor: pointer;
    background-color: var(--c11);
}

.loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
    order: 1;
}

.load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
}

.load:nth-child(1) {
    animation-delay: 0.2s;
}

.load:nth-child(2) {
    animation-delay: 0.4s;
}

.load:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes move6 {
    0% {
        height: 0.2em;
    }

    25% {
        height: 0.7em;
    }

    50% {
        height: 1.5em;
    }

    100% {
        height: 0.2em;
    }
}

.play {
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: var(--c1);
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    order: 1;
}

.albumcover {
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-image: url('/Imgs/Picture1.png');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    align-self: center;
    border-radius: 5px;
    order: 1;
}

.loader1:hover .albumcover {
    background-image: url('https://i.pinimg.com/originals/03/f4/82/03f4823610a818fec2387ebc59a83923.gif');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg) scale(125%);
}

.song {
    transform: rotate(180deg);
    margin-right: 1em;
}

.name {
    margin-top: 1em;
}

.artist {
    margin-top: -1.5em;
    font-size: 0.7em;
}

/* Movies */
.div-responsivex {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.div-responsivex::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00000033;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c1);
}

.link-item {
    color: var(--c1);
    text-decoration: none;
    background-color: var(--c11);
    white-space: nowrap;
    transition: .3s ease-in-out;
}

.link-item.active {
    background-color: var(--c10);
    transition: .3s ease-in-out;
}

/* Games */
.card1 {
    position: relative;
    height: 330px;
}

.card1 .boxshadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid #0E1C30;
    transform: scale(0.8);
    box-shadow: #137DAE 20px 40px 70px;
}

.card1 .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: .3s ease-in-out;
}

.card1 .main .top {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0px;
    height: 0px;
    z-index: 2;
    border-top: 115px solid black;
    border-left: 115px solid transparent;
    border-right: 115px solid transparent;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card1 .main .side {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateX(-50%);
    height: 101%;
    background: black;
    -webkit-clip-path: polygon(0% 0%, 50% 0, 95% 45%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0, 95% 45%, 100% 100%, 0% 100%);
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
}

.card1 .main .left {
    left: 0;
}

.card1 .main .right {
    right: 0;
    transform: translateX(50%) scale(-1, 1);
}

.card1 .main .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    font-weight: bold;
    font-size: 22px;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-out 0s;
}

.card1 .main .button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.card1 .main .button-container .button {
    position: absolute;
    transform: translateX(-50%);
    padding: 5px 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 21% 100%);
    clip-path: polygon(0 0, 100% 0, 81% 100%, 21% 100%);
    background: black;
    border: none;
    color: white;
    display: grid;
    place-content: center;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card1 .main .button-container .button:nth-child(1) {
    bottom: 320px;
    transition-delay: 0.4s;
}

.card1 .main .button-container .button:nth-child(2) {
    bottom: 320px;
    transition-delay: 0.6s;
}

.card1 .main .button-container .button:nth-child(3) {
    bottom: 320px;
    transition-delay: 0.8s;
}

.card1:hover .main {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.card1:hover .main .left {
    left: -50px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.card1:hover .main .right {
    right: -50px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.card1:hover .main .title {
    opacity: 1;
    transition: all 0.2s ease-out 1.3s;
}

.card1:hover .main .button-container .button:nth-child(1) {
    bottom: 80px;
    transition-delay: 0.6s;
}

.card1:hover .main .button-container .button:nth-child(2) {
    bottom: 40px;
    transition-delay: 0.4s;
}

.card1:hover .main .button-container .button:nth-child(3) {
    bottom: 0;
    transition-delay: 0.2s;
}

.tooltip1 {
    font-size: 10px;
    padding: 5px;
    display: none;
}

.button:hover .tooltip1 {
    position: relative;
    display: block;
}
    
/* Scrooll */
::-webkit-scrollbar-corner {
    background: var(--c10);
    border-radius: 5px;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar:hover {
    background: var(--c8);
}