/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

::-webkit-scrollbar {
  display: none;
}

.text-bold {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
}

.text-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;
}

.text-game {
  font-family: "Dela Gothic One", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Overpass", sans-serif;
  font-family: "Pixelify Sans", cursive;
}

/* Bg Colors */
.dark-gray {
  color: #0b0b0b;
  background-color: #0b0b0b;
}

/* Texts Styles */
.text-border {
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff,
    1px -1px 0px #ffffff, 1px 0px 0px #ffffff, 0px 1px 0px #ffffff,
    -1px 0px 0px #ffffff, 0px -1px 0px #ffffff;
}

.arrow-down{
  animation: moverAnimacion 1s infinite;
  display: flex;
  justify-content: center;
}

/* Galaga */
.game-area {
  position: relative;
  margin-top: -3em;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-size: cover;
}
.enemy {
  position: absolute;
  width: 40px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Nxrthv/Portafolio/main/Imgs/ezgif-2-27496b1c16.webp");
  background-size: cover;
  animation: moveEnemy 10s linear infinite;
}
.bullet {
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: #ffffff;
}
@keyframes moveEnemy {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
  }
}

.card {
  width: 100%;
  background-color: #181818 !important;
  padding: 5px;
  margin: 0 1em 1em 1em;
  justify-content: space-between;
  transition: 0.4s ease;
}
.card:hover {
  box-shadow: 0px 0px 15px 5px #cacaca18;
  transition: 0.4s ease;
}
.card.visible {
  transform: translateY(0);
  animation: translateY 1s;
  opacity: 1;
}
.card .top-section {
  height: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.img-project {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.card .top-section .icons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.card .top-section .icons .logo i {
  font-size: 1.5em;
  transition: 0.2s ease;
  cursor: pointer;
  padding: 10px;
}
.card .top-section .icons .logo i:hover {
  font-size: 1.8em;
  transition: 0.2s ease;
}
.card .top-section .icons .social-media {
  height: 100%;
  padding: 6px 24px;
  display: flex;
  gap: 24px;
  font-size: 1.4em;
}
.card .bottom-section {
  padding: 10px 5px;
}
.card .bottom-section .title {
  display: block;
  font-size: 17px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.card .bottom-section .row {
  display: flex;
  margin-top: 20px;
}
.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: #ffffffb8;
}
.card .bottom-section .row .redirection {
  animation: arrowX 1.5s linear infinite;
  flex: 30%;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
.card .bottom-section .row .redirection a {
  color: #ffffffb8;
  font-size: 30px;
}
.card .bottom-section .row .item .big-text {
  font-size: 14px;
  display: block;
}
.card .bottom-section .row .item .regular-text {
  font-size: 12px;
}
.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}

@media (min-width: 992px) {
  .card {
    width: 47%;
  }
  .img-project {
    height: 300px;
  }
}

/* Animations */
.arrow {
  animation: arrow 1s linear infinite;
}
@keyframes arrowX {
  0% {
    transform: translateX(0.3em);
  }
  50% {
    transform: translateX(0em);
  }
  100% {
    transform: translateX(0.3em);
  }
}
@keyframes translateY {
  0% {
    transform: translateY(2em);
    transition: 1.5s ease;
  }
}
@keyframes moverAnimacion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
