@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&family=Pixelify+Sans&display=swap');

::-webkit-scrollbar{
    display: none;
}

body{
    padding: 0;
    margin: 0;
}

.nav{
    font-family: 'Exo 2', sans-serif;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 1000;
    width: 100%;
}

.pr a{
    color: white;
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pixelify Sans', cursive;
}

.pr p{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pixelify Sans', cursive;
    color: rgb(123, 118, 118);
    position: absolute;
    font-size: 12px;
    margin-top: 2px;
}

.content-nav a{
    color: white;
    text-decoration: none;
    margin: auto 20px auto 20px;
    padding-bottom: 4px;
}

.content-nav a:hover{
    transform: scale(1.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.661);
    padding-bottom: 3px;
    cursor: pointer;
}

.content-nav{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .nav{
        font-size: 12px;
        margin: 20px;
    }
    .content-nav a{
        margin: auto 8px auto 8px;
    }
    .pr{
        font-size: 12px;
    }
        
}