@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
  }
  

::-webkit-scrollbar{
    display: none;
}

.nav{
    font-family: 'Exo 2', sans-serif;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(62, 62, 62, 0.115);
    z-index: 1000;
    width: 100%;
}

.pr a{
    padding: auto 30px auto 30px;
    margin-left: 2em;
    color: white;
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pixelify Sans', cursive;
}

.pr p{
    margin-left: 2.5em;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pixelify Sans', cursive;
    color: rgb(123, 118, 118);
    position: absolute;
    font-size: .8em;
    margin-top: .5em;
}

.content-nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    padding-bottom: 4px;
    transition: .5s ease;
    margin-inline: 15px;
}

.content-nav a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.661);
    transition: .5s ease;
    transform: scale(1.08);
    cursor: pointer;
}

.content-nav{
    display: flex;
    justify-content: space-between;      
}