@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata&family=Overpass:wght@200&display=swap');

body{
    background-color: black;
}

::-webkit-scrollbar{
    display: none;
}

.content{
    color: white;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
    .cont-text{
        background-image: linear-gradient(to right, rgb(25, 144, 35), #3700ff9d);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding: 70px;
    }
    .sub-text{
        margin-bottom: -20px;
    }
    .title{
        margin-bottom: -10px;
    }
    .perfil{
        width: 280px;
        height: 280px;
        border-radius: 50%;
        box-shadow: 5px 0 25px #00ff77a1, -5px 0 25px #3700ff9d;;

    }
    .animation{
        font-family: 'Dela Gothic One', cursive;
        font-family: 'Inconsolata', monospace;
    }
    .welcome{
        background-image: linear-gradient(to right, rgb(25, 144, 35), #3700ff9d);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: absolute;
        margin-top: 185px;
        margin-left: -330px;
    }
    .welcome a{
        text-decoration: none;
    }
    .animation::after{
        content: '';
        font-weight: 500;
        position: absolute;
        margin-left: 5px;
        animation: typing 2s steps(20, end) infinite;
    }

.about-me{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Overpass', sans-serif;
    color: white;
    width: 600px;
    margin: 80px auto 50px auto;
    padding: 20px 50px 20px 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 0 25px #00ff77a1, -5px 0 25px #3700ff9d;;
    background-color: rgb(15, 15, 15);
}

.content-skills{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}
    .btn-skill{
        background-color: rgb(52, 47, 47);
        display: flex;
        border: 2px solid white;
        border-radius: 10px;
    }
    .skill{
        padding: 5px 50px 5px 50px; 
        color: white;
        text-decoration: none;
        margin: auto;
        display: flex;
        align-items: center;
    }
    img{
        width: 40px;
    }

@media screen and (max-width: 768px) {
    .content{
        margin-top: 50px;
        margin-left: -50px;
        color: white;
        font-family: 'Exo 2', sans-serif;
        display: flex;
    }
        .cont-text{
            margin-top: -70px;
            margin-left: 10px;
        }
        .title{
            font-size: 25px;
        }
        .perfil{
            width: 150px;
            height: 150px;
            margin-right: 20px;
        }
        .animation{
            font-size: 14px;
        }
        .welcome{
            font-size: 15px;
            margin-top: 120px;
            margin-left: -115px;
        }
        .welcome a{
            text-decoration: none;
        }
        .animation::before{
            content: '> ';
        }

    .about-me{
        font-size: 13px;
        padding: 10px 20px 10px 20px;
        width: 320px;
        margin: 50px auto 50px auto;
    }
}