@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

body{
    background-color: black;
}

::-webkit-scrollbar{
    display: none;
}

.projects{
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
}
    .card {
        margin: 50px auto auto auto;
        width: 65%;
        height: 550px;
        background: linear-gradient(#6c6c6ca1, #e3e2e29d);
        transition: all .4s;
        border-radius: 10px;
       }
       .card:hover {
        box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
       }
       .card2 {
        width: 100%;
        height: 550px;
        background: linear-gradient(#151515, #000000);
        background-size: cover;
        transition: all .4s;
       }
       .card2:hover {
        transform: scale(0.995);
        border-radius: 10px;
       }
       .content{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
       }
       .img-project{
        position: absolute;
        width: 650px;
        height: 420px;
        bottom: 0;
        transition: .4s ease;
        z-index: -1;
        border-radius: 10px;
       }
       .card2:hover .img-project{
        transform: translateY(-20px);
        transition: .4s ease;
       }
       .text-content h2{
        font-size: 30px;
        font-weight: 500;
        font-family: 'Inclusive Sans', sans-serif;
        margin-bottom: -10px;
       }
       .text-content p{
        font-weight:900;
       }
       .text-content{
        align-items: center;
        margin-left: -440px;
       }
       .bgimg{
        margin-top: -11.9%;
        width: 100%;
        height: 100%;
        transition: .4s ease;
       }
       .bgimg:hover{
        opacity: 0;
        transition: .4s ease;
       }

@media screen and (max-width: 768px) {
    .projects{
        font-size: 12px;
        display: flex;
        }
        .card {
            margin: 10px auto 10px auto;
            max-width: 100%;
            height: 225px;
            background-image: linear-gradient(163deg, #00ff77a1 0%, #3700ff9d 100%);
            border-radius: 20px;
            transition: all .3s;
        }
        .card:hover {
            box-shadow: 0px 0px 20px 1px rgba(0, 255, 117, 0.30);
        }
        .card2 {
            margin-left: -.3px;
            width: 100%;
            height: 225px;
            background-color: #1a1a1a;
            background-image: url(/Imgs/bgprincipal.jpg);
            background-size: cover;
            transition: all .3s;
            border-radius: 20px;
        }
        .card2:hover {
            transform: scale(0.99);
            border-radius: 20px;
        }
        .content{
            color: white;
            font-family: 'Josefin Sans', sans-serif;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: -1;
        }
        .img-project{
            width: 120px;
            height: 100px;
            padding: 10px;
            align-items: center;
            margin-left: 20px;
        }
        .text-content h2{
            font-size: 14px;
        }
        .text-content{
            width: 50%;
            margin: 10px -10px auto auto;
            align-items: center;
            text-align: right;
        }
        .bgimg{
            width: 367px;
            height: auto;
            margin-top: -226px;
            height: 228px;
            transition: .2s ease;
            position: absolute;             
        }      
        .bgimg:hover{
            opacity: 0;
            transition: .2s ease;
        }  
    }